h5{
    color: yellow;
}
/* # is povided to identify an id */
#id1{
    color: brown;
}
/* . is provided to identify an */
.box{
    border: 2px solid rgb(170, 17, 17);
    margin: 1% 30% 1% 30%;
    padding: 3% 3% 3% 3%;
    box-shadow: 50px 10px rgb(236, 115, 210);
    background-color: rgb(199, 19, 118);
    border-radius: 14%;
}
.box button{
    margin-left: 50%;
}